@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Didact+Gothic&family=Expletus+Sans&family=Heebo&family=Istok+Web&family=Jost&family=Kranky&family=Manjari&family=Megrim&family=Palette+Mosaic&family=Quicksand&family=Sen&family=Sigmar+One&family=Telex&family=Tenor+Sans&family=Thasadith&family=Train+One&family=Urbanist&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #4B8895;
  font-family: 'Jost', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #55A8AA;
}

.header1 {
  width: 30%;
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
}

.header2 {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

a, a:visited, a:active {
  font-weight: bold;
  color: #3A506B;
  text-decoration: none;
}

.header a {
  float: left;
  color: #3A506B;
  text-decoration: none;
}

.header a:hover {
  color: #5BC0BE;
}

.tagline {
  text-align: center;
}

.mira {
  width: 100%;
  background-image: url("images/Mira.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  color: #DFE1E2;
  padding: 20px;
}

.mira1 {
  font-size: 30px;
  align-self: flex-end;
}

.mira2 {
  font-size: 18px;
}

.info {
  background-color: #463ff3;
  /* text-align: center; */

}

.faqs {
  padding: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#miraimg {
  text-align: center;
  width: 300px;
}
